$primaryColor:#181929;

@mixin flex{
    display:flex;
    flex-flow:row nowrap;
}

*{
    font-family:Arial;
    font-size:1rem;
    ::before,::after{
        box-sizing:border-box;
    }
}

body{
    background:$primaryColor;
}

div{
    border:0px solid black;
}

h1{
    color:white;
    text-align:center;
    font-size:1.5rem;
    margin-top:50px;
}

.container{
    @include flex;
    justify-content:center;
    align-items:center;
    min-height:100px;
  

    .form-group{
        display:flex;
        flex-basis:50%;
        align-content:space-between;
        
        input{
            width:100%;
            padding:10px;
        }

        .add{
            .material-icons{
                display:flex;
                background:#903f88;
                cursor:pointer;
                padding:10px;
                margin-left:5px;
                color:white;
            }
        }

    }

}

    .container-0{
        @include flex;
        flex-wrap:row wrap;
        justify-content:center;
        align-items:center;
        min-height:80px;
        display:none;
        
        .pop-up{
            flex-basis:50%;
            height:80px;

        ul{
            list-style-type:none;
           
        

        li {

            margin:0;
            padding:0;
            display:flex;
            margin:0;
            padding:0;
            align-items:center;
            justify-content:space-between;
            padding:15px;

            .list{
                display:flex;
            
                input[type=checkbox]:before{
                    position:relative;
                    display:flex;
                    padding:10px;
                  
                }

                input[type=checkbox]:after{
                    position:relative;
                    display:flex;
                    padding:10px;
                }

                input[type=checkbox]:checked:after{
                    background:red;
                }

                label{
                    position:relative;
                    cursor:pointer;
                }

                label:before{
                    content:" ";
                    padding:8px;
                    display:inline-block;
                    position:relative;
                    vertical-align:middle;
                    border-radius:3px;
                }

                span{
                    color:white;
                    font-size:1.2rem;
                    font-weight:bolder;
                }
            }

            .remove{
                color:white;
            }
            
           .remove:hover{
               color:red;
               cursor:pointer;
           } 

        }

    }
    }
}

